%h1 About RADDDAR

%p
	Raddddar is a web based app where you can easily see and connect with people around you. It’s a service based on coincidence and location. Just a simple opportunity, to meet people near you.

.social_links
	%ul
		%li.facebook
			%a(href="http://www.facebook.com/pages/Radddar/259375980765458") Radddar @ Facebook
		%li.twitter
			%a(href="http://twitter.com/myradddar") MyRadddar @ Twitter

%p.foot
	=link_to "VBG d.o.o.", "http://www.vbg.si", :target => "_new"
	and
	=link_to "OPALAB d.o.o.", "http://opalab.com", :target => "_new"