#map=" "

-# #map{:style=>"display:none"}=" "

#app
	.slogan
		=image_tag "radddar_slogan.png"
	.tabs-nav
		%ul
			%li.back
				%a(href="#back") BACK
			%li.chat
				%a(href="#chat") CHAT
			%li.radddar
				%a.active(href="#radddar") RADDDAR
			%li.profile
				%a(href="#profile") PROFILE
			%li.about
				%a(href="#about") ABOUT

	.tabs
		.chat.screen=render "app/chat/list"
		.radddar.screen.active=render "app/map/list"
		.profile.screen=render partial:"app/user/profile", locals:{user: current_user}
		.member_profile.screen
			%p Loading...
		.about.screen=render "app/about"

