!!!
%html
	%head
		%title radddar

		= stylesheet_link_tag    "landing", :media => "all"
		= javascript_include_tag "landing"
		= csrf_meta_tags

	%body

		- if flash[:notice]
			%p=flash[:notice]


		%p This is landing page...


		-unless signed_in?
			=link_to "Facebook login", "/auth/facebook"
			|
			=link_to "Twitter login", "/auth/twitter"