!!!
%html
	%head
		%title RADDDAR - Who's on your?

		= stylesheet_link_tag    "landing", :media => "all"
		= javascript_include_tag "landing"
		= csrf_meta_tags

		%link{:rel=>"shortcut icon", :href=>asset_path("radddar_icon.png")}


		%meta(property="fb:admins" content="571988676,1014463747")
		%meta(property="fb:app_id" content="203564286383182")
		%meta(property="og:title" content="RADDDAR - Who's on your?")
		%meta(property="og:type" content="website")
		%meta(property="og:url" content="http://www.radddar.com")

		%meta{:property=>"og:image", :content=>image_path("radddar-big.jpg")}

		%meta(property="og:description" content="Raddddar is a web based app where you can easily see and connect with people around you. It’s a service based on coincidence and location. Just a simple opportunity, to meet people near you.")

		%meta(name="apple-mobile-web-app-capable" content="yes")
		%meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		-if Rails.env == "production"
			=render partial: "layouts/google_analytics"

	%body
		-if Rails.env == "production"
			=render partial: 'landing_facebook'

		.video.off
			.video-wrap
				-# 
					%iframe(width="853" height="480" src="http://www.youtube.com/embed/ApHpgL5aQYk?rel=0" frameborder="0" allowfullscreen)=""
				
				%embed(id="ytplayer" width="853" height="480" allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#000000" name="ytplayer" style="" src="http://www.youtube.com/v/ApHpgL5aQYk?enablejsapi=1&version=3&playerapiid=ytplayer" type="application/x-shockwave-flash")

				%a.video-toggle(href="#video-toggle") Close video

		.wrap
			.inner_wrap
				.logo=link_to "RADDDAR - Who's on your?", root_url
				.play_video
					%a.video-toggle(href="#video-toggle") See the video
				.content
					.left
						.left-wrap
							.about-out-wrap
								%h1
									What is it
								%p
									Raddddar is a web based app where you can easily see and connect with people around you. It’s a service based on coincidence and location. Just a simple opportunity, to meet people near you.

							.release-wrap
								%h1 Alpha Release
								.reminder-wrap=render "alpha_form"

							.reminder-out-wrap
								%h1 Get updates
								.reminder-wrap.reminder=render "reminder_form"

					.center
						.center-wrap#screens
							%ul{:style=> "width:#{5*212}px"}
								%li.active=image_tag "radddar_mockup_7-02-1.jpg"
								%li=image_tag "radddar_mockup_7-03-1.jpg"
								%li=image_tag "radddar_mockup_7-04-1.jpg"
								%li=image_tag "radddar_mockup_7-05-1.jpg"
								%li=image_tag "radddar_mockup_7-06-1.jpg"
					.right
						.right-wrap
							%ul
								%li No feed.
								%li No followers.
								%li No walls.
								%li No personal details.
								%li Free.
			.footer
				.footer-wrap
					%table{:style=>"margin:0 auto; border-collapse:collapse"}
						%tr
							%td{:style => "padding-top:5px;"}
								-if Rails.env == "production"
									=render partial: 'landing_twitter'
								-else
									%span [landing_twitter]
							%td
								-if Rails.env == "production"
									%div(class="fb-like" data-href="http://www.facebook.com/pages/Radddar/259375980765458" data-send="false" data-layout="button_count" data-width="80" data-show-faces="true" data-colorscheme="dark")=" "
								-else
									%span [facebook]
							%td

								\/
								=link_to "Twitter","http://twitter.com/myradddar"
								\/
								=link_to "Facebook", "http://www.facebook.com/pages/Radddar/259375980765458"
								\/
							%td
								&copy;
								=link_to "VBG", "http://www.vbg.si"
							%td
								\/
								=mail_to "info@radddar.com", "Contact", :encode => "javascript"

		-#
			-unless signed_in?
				=link_to "Facebook login", "/auth/facebook"
				|
				=link_to "Twitter login", "/auth/twitter"