- @feed = current_user.feed
- if !@feed[:notes].empty? or !@feed[:chats].empty?
	.users
		%ul
			- @feed[:notes].each do |user_with_note|
				%li.note.user{user_with_note.to_data.merge!(:class=>[user_with_note.gender, "off" ])}
					.user_line_wrap

						-unless user_with_note.image.nil?
							.image
								=link_to image_tag(user_with_note.image), "#user-#{user_with_note.id}"

						.details
							.name
								=link_to "#user-#{user_with_note.id}" do
									=user_with_note.to_s
									\-
									=time_ago_in_words user_with_note.notified_at
									ago
						
						.tools="Note"

						.remove=link_to "Remove", remove_note_path(user_with_note.stamp), :method => :delete, :remote => true
- else
	%p.no_chats
		Sorry friend. You haven't exchanged any interactions yet.