!!!
%html
	%head
		%title RADDDAR - Who's on your?

		%meta(charset="utf-8")
		-# %meta(name="viewport" content="width=device-width, initial-scale=1")

		%meta(name="apple-mobile-web-app-capable" content="yes")
		%meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		%link{:rel=>"shortcut icon", :href=>asset_path("favicon.ico")}

		-#
			%link(rel="apple-touch-startup-image" href="/startup.png")
			%link(rel="apple-touch-icon" href="touch-icon-iphone.png")
			%link(rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad.png")
			%link(rel="apple-touch-icon" sizes="114x114" href="touch-icon-iphone4.png")


		=stylesheet_link_tag "app"

		=javascript_include_tag "http://js.pusher.com/1.11/pusher.min.js"
		
		=javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyCFWhDn4H02EWwneGYcGjnxYMtTsf5Hkc0&sensor=false"
		
		=javascript_include_tag "app"

		=csrf_meta_tags

		-if Rails.env == "production"
			=render partial: "layouts/google_analytics"
	%body
		.wrap
			=yield

		-# -if Rails.env == "production"
		=render partial: "layouts/uservoice"